.todo-list-item {
    font-size: 25px;
}
.todo-list-item__button {
    width: 35px;
    margin: 5px;
}
.todo-list-item-label {
    margin-left: 5px;
    line-height: 35px;
    cursor: pointer;
    user-select: none;
    flex-grow: 1;
}
.done {
    text-decoration:line-through
}
 .important {
    font-weight: 500;
    color: indigo;
}